.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20vw;
  margin-top: 300px;
  margin-bottom: 300px;
}


.lineMask{
    overflow: hidden;
    line-height: 10%;
}

.lineMask p{
  margin: 0px;
  font-weight: 700;
}